<!-- Modal -->
<div class="modal fade" id="edit-category-modal" tabindex="-1" aria-labelledby="edit-category-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="edit-category-label">Update Category</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/admin/category?_method=PUT" method="POST">
                <div class="modal-body">
                    <div class="form-group">
                        <!-- For PUT Request -->
                        <input type="hidden" name="_method" value="PUT">

                        <!-- For Category ID -->
                        <input type="hidden" id="category-id" name="categoryId">

                        <label for="edit-category-name">Category name</label>
                        <input type="text" class="form-control" id="edit-category-name" name="categoryName"
                               aria-describedby="inputCategoryName">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
